body	{font-family: Arial, Verdana, Garamond;
		font-size: 11pt}
		
p		{margin-left: 20pt;
		margin-right: 20pt;
		font-size: 11pt}
		
a		{font-size: 9pt;
		margin-left: auto; 
		margin-right: auto;
		text-decoration: none}

img	 	{border: 0px}


 